.structure {
    width: 60%; 
    margin: 0 auto;
}

.fix-mim-height {
    min-height: 750px;
}

.main-structure {
    background-color: #ccc; 
    display:flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.item {
    border-bottom: dotted 2px #ccc; 
    padding-bottom: 5%;
}

.item-image {
    width: 80%;
}

#logo {
    padding-left: 3rem;
    font-family: cursive;
}

#buttons {
    padding-top: .5rem;
}

.login-form-input {
    margin-bottom: 10px;
}