{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet main-structure" href="{% static 'app/css/style.css' %}">
    </head>
    <body>
        <div class="structure main-structure space-between">
            <a href="{% url 'posts' %}">
                <h1 id="logo">MyBlog</h1>
            </a>
            <div id="buttons">
                {% if user.is_authenticated %}
                    <p>{{ user.get_username }}</p>
                    <a href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
                    {% if perms.app.add_post %}
                        <a href="{% url 'add_post' %}">Create post</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">Log In</a>
                {% endif %}
            </div>
        </div>
        <div class="structure fix-mim-height">
            {% block content %}
            {% endblock  %}
        </div>
        <div class="structure main-structure center">
            <p>powered by Django</p>
        </div>
    </body>
</html>